.tabs {
  height: 100rpx;
  display: flex;
  border-bottom: 1rpx solid #ddd;
}
.tabs-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-item.active {
  color: #eb4450;
  font-weight: bold;
  border-bottom: 1rpx solid #eb4450;
}
